In [2]:
import pandas as pd
import numpy as np

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import iplot

In [52]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
df1 = pd.read_csv('/content/df1.csv')
df1.head()

,EmployeeNumber,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked
0,104,30.0,Travel_Rarely,852.0,Research & Development,1.0,1.0,Life Sciences,1.0,4.0,Male,55.0,2.0,2.0,Laboratory Technician,4.0,Married,5126.0,15998.0,1.0
1,1638,38.0,Travel_Rarely,397.0,Research & Development,2.0,2.0,Medical,1.0,4.0,Female,54.0,2.0,3.0,Manufacturing Director,3.0,Married,7756.0,14199.0,3.0
2,164,26.0,Travel_Rarely,841.0,Research & Development,6.0,3.0,Other,1.0,3.0,Female,46.0,2.0,1.0,Research Scientist,2.0,Married,2368.0,23300.0,1.0
3,395,28.0,Travel_Rarely,1117.0,Research & Development,8.0,2.0,Life Sciences,1.0,4.0,Female,66.0,3.0,1.0,Research Scientist,4.0,Single,3310.0,4488.0,1.0
4,53,35.0,Travel_Rarely,464.0,Research & Development,4.0,2.0,Other,1.0,3.0,Male,75.0,3.0,1.0,Laboratory Technician,4.0,Divorced,1951.0,10910.0,1.0

In [5]:
df1.shape

(4449, 20)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeNumber           4449 non-null   int64
 1   Age                      4449 non-null   float64
 2   BusinessTravel           4449 non-null   object
 3   DailyRate                4449 non-null   float64
 4   Department               4449 non-null   object
 5   DistanceFromHome         4449 non-null   float64
 6   Education                4449 non-null   float64
 7   EducationField           4449 non-null   object
 8   EmployeeCount            4449 non-null   float64
 9   EnvironmentSatisfaction  4449 non-null   float64
 10  Gender                   4449 non-null   object
 11  HourlyRate               4449 non-null   float64
 12  JobInvolvement           4449 non-null   float64
 13  JobLevel                 4449 non-null   float64
 14  JobRole                  4449 non-null   object
 15  JobSatisfaction          4449 non-null   float64
 16  MaritalStatus            4449 non-null   object
 17  MonthlyIncome            4449 non-null   float64
 18  MonthlyRate              4449 non-null   float64
 19  NumCompaniesWorked       4449 non-null   float64
dtypes: float64(13), int64(1), object(6)
memory usage: 695.3+ KB

In [6]:
df2 = pd.read_csv('/content/df2.csv')
df2.head()

,EmployeeNumber,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,YearlyIncome
0,104,Y,Yes,12.0,3.0,3.0,80.0,2.0,10.0,1.0,2.0,10.0,8.0,3.0,0.0,No,61512.0
1,1638,Y,Yes,19.0,3.0,4.0,80.0,1.0,10.0,6.0,4.0,5.0,4.0,0.0,2.0,No,93072.0
2,164,Y,No,19.0,3.0,3.0,80.0,0.0,5.0,3.0,2.0,5.0,4.0,4.0,3.0,No,28416.0
3,395,Y,No,21.0,4.0,4.0,80.0,0.0,5.0,3.0,3.0,5.0,3.0,0.0,2.0,No,39720.0
4,53,Y,No,12.0,3.0,3.0,80.0,1.0,1.0,3.0,3.0,1.0,0.0,0.0,0.0,No,23412.0

In [7]:
df2.shape

(4449, 17)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            4449 non-null   int64
 1   Over18                    4449 non-null   object
 2   OverTime                  4449 non-null   object
 3   PercentSalaryHike         4449 non-null   float64
 4   PerformanceRating         4449 non-null   float64
 5   RelationshipSatisfaction  4449 non-null   float64
 6   StandardHours             4449 non-null   float64
 7   StockOptionLevel          4449 non-null   float64
 8   TotalWorkingYears         4449 non-null   float64
 9   TrainingTimesLastYear     4449 non-null   float64
 10  WorkLifeBalance           4449 non-null   float64
 11  YearsAtCompany            4449 non-null   float64
 12  YearsInCurrentRole        4449 non-null   float64
 13  YearsSinceLastPromotion   4449 non-null   float64
 14  YearsWithCurrManager      4449 non-null   float64
 15  Attrition                 4302 non-null   object
 16  YearlyIncome              4449 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 591.0+ KB

In [429]:
df = pd.merge(df1, df2, on='EmployeeNumber')

In [430]:
df.shape

(4449, 36)

In [431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4449 entries, 0 to 4448
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            4449 non-null   int64
 1   Age                       4449 non-null   float64
 2   BusinessTravel            4449 non-null   object
 3   DailyRate                 4449 non-null   float64
 4   Department                4449 non-null   object
 5   DistanceFromHome          4449 non-null   float64
 6   Education                 4449 non-null   float64
 7   EducationField            4449 non-null   object
 8   EmployeeCount             4449 non-null   float64
 9   EnvironmentSatisfaction   4449 non-null   float64
 10  Gender                    4449 non-null   object
 11  HourlyRate                4449 non-null   float64
 12  JobInvolvement            4449 non-null   float64
 13  JobLevel                  4449 non-null   float64
 14  JobRole                   4449 non-null   object
 15  JobSatisfaction           4449 non-null   float64
 16  MaritalStatus             4449 non-null   object
 17  MonthlyIncome             4449 non-null   float64
 18  MonthlyRate               4449 non-null   float64
 19  NumCompaniesWorked        4449 non-null   float64
 20  Over18                    4449 non-null   object
 21  OverTime                  4449 non-null   object
 22  PercentSalaryHike         4449 non-null   float64
 23  PerformanceRating         4449 non-null   float64
 24  RelationshipSatisfaction  4449 non-null   float64
 25  StandardHours             4449 non-null   float64
 26  StockOptionLevel          4449 non-null   float64
 27  TotalWorkingYears         4449 non-null   float64
 28  TrainingTimesLastYear     4449 non-null   float64
 29  WorkLifeBalance           4449 non-null   float64
 30  YearsAtCompany            4449 non-null   float64
 31  YearsInCurrentRole        4449 non-null   float64
 32  YearsSinceLastPromotion   4449 non-null   float64
 33  YearsWithCurrManager      4449 non-null   float64
 34  Attrition                 4302 non-null   object
 35  YearlyIncome              4449 non-null   float64
dtypes: float64(26), int64(1), object(9)
memory usage: 1.3+ MB

In [432]:
df.head()

,EmployeeNumber,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,YearlyIncome
0,104,30.0,Travel_Rarely,852.0,Research & Development,1.0,1.0,Life Sciences,1.0,4.0,...,2.0,10.0,1.0,2.0,10.0,8.0,3.0,0.0,No,61512.0
1,1638,38.0,Travel_Rarely,397.0,Research & Development,2.0,2.0,Medical,1.0,4.0,...,1.0,10.0,6.0,4.0,5.0,4.0,0.0,2.0,No,93072.0
2,164,26.0,Travel_Rarely,841.0,Research & Development,6.0,3.0,Other,1.0,3.0,...,0.0,5.0,3.0,2.0,5.0,4.0,4.0,3.0,No,28416.0
3,395,28.0,Travel_Rarely,1117.0,Research & Development,8.0,2.0,Life Sciences,1.0,4.0,...,0.0,5.0,3.0,3.0,5.0,3.0,0.0,2.0,No,39720.0
4,53,35.0,Travel_Rarely,464.0,Research & Development,4.0,2.0,Other,1.0,3.0,...,1.0,1.0,3.0,3.0,1.0,0.0,0.0,0.0,No,23412.0

In [433]:
df.Attrition.unique()

array(['No', 'Yes', nan], dtype=object)

In [434]:
df = df.dropna(subset=['Attrition'])

In [435]:
df.Attrition.unique()

array(['No', 'Yes'], dtype=object)

In [436]:
df.shape

(4302, 36)

In [437]:
Attrition_dict = {'No':0, 'Yes':1}
df['Attrition']=df['Attrition'].map(Attrition_dict)

<ipython-input-437-dc7ff77ac07e>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [438]:
df.Attrition.unique()

array([0, 1])

In [439]:
df.Age.unique()

array([  30.,   38.,   26.,   28.,   35.,   34.,   32.,   42.,   40.,
         48.,   39.,   18.,   43.,   21.,   53.,   45.,   29.,   33.,
         41.,   24.,   37.,   50.,   36.,   52.,   47.,   31.,   49.,
         54.,   44.,   22.,   46.,   27.,   55.,   59.,   25.,   23.,
         56.,   20.,   60.,   51.,   58.,   19.,   57., 8825., 3628.,
       6287., 9330., 1107., 4454., 9155., 9890., 1189., 9195., 9014.,
       1136., 5582., 2404., 1541., 4510., 4322., 4988., 8388., 2530.,
       8901., 2852., 2459., 2982., 4973., 8534., 8314., 4130., 4328.,
       7952., 8699., 3147., 8889., 3871., 9531., 8167., 5257., 8136.,
       7390., 2993., 5672., 5933., 5614., 5007., 3095., 9219., 6749.,
       4515., 6715., 1141., 8949., 3636., 4805., 5959., 9384., 8042.,
       1423., 7056., 5116., 2667., 8703., 1126., 9612., 7845., 6998.,
       1788., 6727., 5377., 5565., 4558., 6506., 4591., 7662., 6510.,
       4985., 9581., 2095., 2275., 6399., 4935., 2698., 7617., 9661.,
       4834., 2242., 1915., 3226., 7924., 9529., 8326., 1578., 8560.,
       9078., 6429., 9243., 2186., 2888., 6210., 3388., 2423., 6025.,
       1530., 7017., 4137., 5852., 4744., 7147., 7963., 2972., 5997.,
       3626., 8744., 2637., 4880., 4330., 2641., 2882., 5215., 7015.,
       8365., 6032., 5034., 2280., 4553., 3469., 8237., 8097., 3281.,
       6703., 2012., 9866., 1775., 5402., 9159., 3437., 8823.])

In [440]:
df = df[df['Age'] <= 100]

In [441]:
df.Age.unique()

array([30., 38., 26., 28., 35., 34., 32., 42., 40., 48., 39., 18., 43.,
       21., 53., 45., 29., 33., 41., 24., 37., 50., 36., 52., 47., 31.,
       49., 54., 44., 22., 46., 27., 55., 59., 25., 23., 56., 20., 60.,
       51., 58., 19., 57.])

In [442]:
df.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [443]:
df = df.join(pd.get_dummies(df["BusinessTravel"], drop_first=True)).drop("BusinessTravel", axis=1)

In [444]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'YearlyIncome',
       'Travel_Frequently', 'Travel_Rarely'],
      dtype='object')

In [445]:
df.DailyRate.unique()

array([ 852.,  397.,  841., 1117.,  464., 1107., 1018.,  269.,  296.,
        989.,  855., 1181.,  895.,  827.,  977.,  544.,  244.,  995.,
       1343., 1282.,  153.,  280.,  404., 1265.,  252., 1496.,  306.,
        128.,  529.,  553.,  572.,  482.,  471.,  509.,  130.,  506.,
        329.,  367., 1219.,  746., 1322.,  969., 1271., 1158.,  688.,
        319.,  371., 1336.,  107.,  448.,  359.,  625., 1017.,  835.,
       1050.,  523., 1064., 1128.,  928., 1319.,  932.,  809., 1376.,
        253.,  336.,  884., 1385.,  945.,  118., 1231.,  426.,  737.,
       1442.,  853.,  557.,  377.,  616., 1398., 1138.,  531.,  138.,
       1377., 1240., 1400., 1001., 1082., 1171.,  136.,  218.,  452.,
       1397., 1192.,  944.,  408., 1040., 1329., 1416., 1125., 1144.,
        442., 1157.,  438.,  147.,  140.,  240.,  202., 1297.,  486.,
       1146.,  150., 1404., 1206., 1172.,  771., 1167.,  441., 1141.,
        715.,  891.,  282., 1425., 1371.,  170.,  650., 1212.,  638.,
       1255., 1099., 1222.,  199.,  116., 1296., 1294.,  769.,  548.,
        738.,  933.,  167., 1174.,  304.,  477.,  607.,  991., 1277.,
        318., 1332.,  967.,  311., 1015.,  618.,  994., 1311.,  144.,
       1055.,  530.,  330.,  508.,  593., 1242.,  430.,  718., 1349.,
        663.,  696., 1303.,  970.,  573.,  678., 1221.,  924., 1456.,
       1130., 1223.,  301.,  848.,  370., 1232., 1225., 1234.,  228.,
        481.,  754., 1375.,  201.,  645., 1070.,  791.,  836., 1485.,
       1339., 1379.,  267.,  355.,  376.,  334.,  516.,  641.,  763.,
        185., 1356., 1153., 1480.,  316.,  705.,  427., 1094.,  264.,
        560., 1441.,  168.,  216.,  431.,  867.,  735., 1142.,  556.,
        192.,  119.,  247.,  248.,  129.,  630., 1252., 1300.,  604.,
        289., 1420., 1041., 1112.,  897.,  111., 1413., 1355.,  833.,
       1366.,  721.,  243.,  672., 1076.,  669., 1445.,  134., 1275.,
        501.,  383.,  983., 1251.,  655.,  673.,  555., 1193.,  691.,
       1091., 1448.,  369.,  310., 1402.,  662.,  781., 1380.,  703.,
        591.,  806.,  458.,  342., 1333.,  263.,  845., 1358.,  141.,
        883.,  542., 1370.,  428.,  566., 1313.,  279.,  217., 1431.,
        390.,  142.,  574., 1434., 1467., 1009.,  447., 1258.,  571.,
        163.,  906., 1421., 1354., 1302.,  406., 1199., 1382., 1259.,
       1474., 1126., 1137.,  589., 1045.,  105.,  626.,  829., 1272.,
        146.,  796.,  179.,  812., 1033.,  500., 1454., 1084.,  490.,
       1127.,  345.,  258., 1378.,  697.,  682., 1092.,  971.,  699.,
       1005., 1154.,  131.,  583.,  905.,  617., 1168., 1451.,  896.,
       1236.,  189.,  750.,  224.,  636.,  504., 1179.,  343., 1361.,
        534.,  869.,  285., 1162.,  195., 1443.,  322.,  878.,  621.,
       1075., 1217., 1204.,  188.,  979.,  821.,  174., 1280.,  480.,
       1449., 1182.,  437., 1429.,  676., 1274., 1079.,  277., 1089.,
        256., 1238.,  783.,  391.,  661.,  613., 1029.,  976.,  605.,
       1066.,  436., 1396.,  194.,  121.,  419.,  755.,  288.,  920.,
        959.,  352.,  921., 1103.,  251., 1344., 1283.,  657., 1038.,
        541.,  911.,  410.,  775.,  528.,  177.,  472., 1312.,  117.,
        563.,  957.,  271.,  546.,  241.,  675.,  360., 1427.,  694.,
       1309.,  172., 1411.,  964.,  470.,  722.,  628.,  155., 1054.,
        182., 1463., 1440.,  871.,  337.,  692.,  465.,  693.,  654.,
        443., 1353., 1405., 1131., 1459.,  309.,  422., 1134., 1085.,
        587., 1342.,  413., 1218., 1452.,  109.,  575.,  440.,  507.,
        164.,  433.,  469.,  592.,  601.,  415.,  294.,  986.,  611.,
        894.,  581., 1357.,  832.,  299., 1276., 1462., 1120.,  788.,
       1479.,  552.,  684., 1200.,  219., 1202.,  807., 1122., 1469.,
       1188., 1351.,  950., 1093.,  286.,  535.,  254.,  786.,  956.,
        790.,  804.,  559.,  713.,  205., 1490., 1243., 1210.,  882.,
        723., 1105.,  879., 1136.,  954.,  200.,  466.,  350., 1053.,
        489., 1291.,  594.,  685.,  840., 1389., 1305.,  913.,  373.,
        585.,  862.,  652., 1034., 1320.,  203., 1063.,  106., 1334.,
        265.,  635., 1097.,  603., 1115., 1194.,  702.,  154., 1475.,
        210.,  708.,  711., 1306.,  792., 1180.,  379.,  505.,  982.,
        949.,  931., 1207., 1216.,  644.,  938.,  741.,  303.,  887.,
        392., 1492., 1470., 1327., 1062.,  332.,  922., 1246.,  325.,
       1323.,  748., 1109.,  580.,  135., 1245.,  666.,  538., 1184.,
        429.,  157.,  462.,  602.,  885.,  300., 1465.,  532.,  562.,
        946.,  990.,  805., 1090.,  599.,  903.,  648.,  929., 1450.,
        432.,  797.,  364.,  143.,  880.,  362.,  287.,  817.,  849.,
        634.,  890.,  161., 1253., 1368., 1178.,  770.,  302., 1318.,
       1023.,  152.,  160.,  665.,  930.,  868.,  268.,  943., 1150.,
        966., 1069.,  598.,  180.,  266.,  992.,  793., 1108., 1387.,
       1211.,  104.,  204., 1189.,  499.,  326.,  181.,  156., 1198.,
        384.,  238.,  561.,  115.,  671., 1266.,  658., 1124., 1035.,
        942.,  394., 1330.,  819.,  492.,  461.,  374.,  881.,  667.,
        813.,  683.,  670.,  527.,  726.,  799.,  498.,  543.,  727.,
       1230.,  307.,  866.,  230., 1031., 1239.,  801., 1365.,  176.,
        125., 1214., 1288.,  457.,  996., 1495., 1476.,  478.,  999.,
        196.,  608.,  902.,  558.,  444., 1229.,  145.,  586., 1372.,
        600.,  916.,  917.,  736.,  640., 1488., 1176.,  395., 1337.,
       1256., 1321., 1059., 1384.,  981.,  102., 1383.,  759.,  660.,
        317., 1213.,  740., 1116.,  728., 1145., 1403., 1473., 1362.,
       1278.,  549.,  756.,  439.,  536., 1315.,  720.,  629.,  889.,
        588.,  974.,  622.,  830.,  734., 1151.,  211., 1195., 1482.,
        810., 1030., 1395., 1457.,  313., 1010.,  328.,  706., 1086.,
       1262.,  511.,  526., 1422., 1254.,  646.,  664., 1360.,  207.,
        632.,  984.,  261.,  193., 1268., 1098., 1261.,  818.,  401.,
        333., 1249.,  857., 1224.,  955.,  446., 1436., 1316.,  590.,
       1418.,  567.,  802.,  249., 1410.,  290.,  704.,  305.,  525.,
       1423.,  854.,  926.,  823., 1326., 1012., 1273.,  798., 1037.,
       1065.,  479., 1186.,  988.,  953.,  234.,  468., 1046.,  653.,
        341., 1247., 1269.,  824.,  619., 1287.,  782.,  937.,  120.,
        232., 1123., 1308.,  132.,  859.,  968., 1003.,  483.,  495.,
       1102.,  524., 1346.,  346., 1169., 1439., 1328.,  467., 1401.,
        103.,  335., 1325.,  206.,  918.,  772., 1435.,  231.,  570.,
       1052.,  496.,  314.,  405., 1444.,  474.,  414., 1498.,  412.,
       1391.,  124., 1464., 1083.,  776., 1096.,  647., 1220.,  766.,
        939., 1373.,  237.,  381.,  488.,  459., 1394., 1392.,  642.,
        773.,  760., 1111.,  719., 1369.,  674.,  363., 1147., 1324.,
        717.,  828., 1132.,  898.,  515.,  935., 1499.,  874.,  888.,
       1002.,  584., 1381.,  148.,  689.,  975.,  213.,  725.,  208.,
        582.])

In [446]:
df.Department.unique()

array(['Research & Development', 'Human Resources', 'Sales'], dtype=object)

In [447]:
df = df.join(pd.get_dummies(df["Department"], drop_first=True)).drop("Department", axis=1)

In [448]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales'],
      dtype='object')

In [449]:
df.DistanceFromHome.unique()

array([1.00000e+00, 2.00000e+00, 6.00000e+00, 8.00000e+00, 4.00000e+00,
       9.00000e+00, 3.00000e+00, 5.00000e+00, 2.20000e+01, 2.60000e+01,
       1.00000e+01, 1.20000e+01, 7.00000e+00, 2.50000e+01, 2.90000e+01,
       1.80000e+01, 2.40000e+01, 2.80000e+01, 1.60000e+01, 1.90000e+01,
       1.30000e+01, 2.00000e+01, 1.10000e+01, 2.30000e+01, 2.10000e+01,
       1.50000e+01, 1.40000e+01, 1.70000e+01, 2.70000e+01, 3.02984e+05,
       6.29986e+05, 8.87003e+05, 9.18326e+05, 9.97422e+05, 8.52749e+05,
       6.79106e+05, 3.04698e+05, 7.72706e+05, 2.59089e+05, 9.92947e+05,
       2.53620e+05, 8.86117e+05, 8.60358e+05, 5.47308e+05, 1.93929e+05,
       9.63929e+05, 8.09361e+05, 1.40916e+05, 8.25100e+05, 4.18093e+05,
       7.16417e+05, 5.46730e+05, 2.42839e+05, 7.43173e+05, 1.50886e+05,
       9.46786e+05, 6.07220e+05, 5.60047e+05, 8.40183e+05, 5.88585e+05,
       4.79723e+05, 3.02239e+05, 9.99590e+05, 1.35607e+05, 3.27380e+05,
       5.16738e+05, 3.80120e+05, 2.89540e+05, 4.70836e+05, 6.36415e+05,
       1.47920e+05, 6.49517e+05, 6.88939e+05, 5.49089e+05, 9.33385e+05,
       4.47546e+05, 7.82402e+05, 8.25855e+05, 4.10963e+05, 1.43454e+05,
       6.67984e+05, 8.15600e+05, 3.32529e+05, 5.35366e+05, 6.92089e+05,
       3.67120e+05, 2.66645e+05, 2.49717e+05, 1.67566e+05, 1.38023e+05,
       5.53235e+05, 1.23628e+05, 1.02637e+05, 3.81469e+05, 2.64889e+05,
       3.76075e+05, 2.74206e+05, 6.47087e+05, 2.29109e+05, 7.65855e+05,
       9.75446e+05, 9.24937e+05, 9.34448e+05, 6.32834e+05, 4.21069e+05,
       4.58858e+05, 2.98194e+05, 9.93161e+05, 6.86501e+05, 5.35160e+05,
       1.61435e+05, 1.19377e+05, 2.79509e+05, 2.37547e+05, 5.89265e+05,
       2.70050e+05, 3.03600e+05, 8.95533e+05, 9.71787e+05, 2.15000e+05,
       5.85976e+05, 2.04179e+05, 6.78387e+05, 4.82211e+05, 7.55441e+05,
       7.10269e+05, 2.20024e+05, 5.06379e+05, 8.53938e+05, 9.32144e+05,
       9.68203e+05, 2.77125e+05, 5.36402e+05, 3.39434e+05, 1.02583e+05,
       1.87830e+05, 5.88809e+05, 4.49359e+05, 6.25879e+05, 3.91908e+05,
       6.33867e+05, 4.54423e+05, 7.40696e+05, 5.60263e+05, 7.33295e+05,
       3.08024e+05, 8.12485e+05, 7.07484e+05, 4.77232e+05, 7.92796e+05,
       4.11835e+05, 2.49810e+05, 3.23510e+05, 8.83970e+05, 3.22329e+05,
       4.90741e+05, 6.64579e+05, 9.18785e+05])

In [450]:
df.Education.unique()

array([1., 2., 3., 4., 5.])

In [451]:
df.EducationField.unique()

array(['Life Sciences', 'Medical', 'Other', 'Technical Degree',
       'Marketing', 'Human Resources'], dtype=object)

In [452]:
df = df.join(pd.get_dummies(df["EducationField"], drop_first=True)).drop("EducationField", axis=1)

In [453]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'YearlyIncome',
       'Travel_Frequently', 'Travel_Rarely', 'Research & Development', 'Sales',
       'Life Sciences', 'Marketing', 'Medical', 'Other', 'Technical Degree'],
      dtype='object')

In [454]:
df.EmployeeCount.unique()

array([1.])

In [455]:
df = df.drop(['EmployeeCount'] ,axis=1)

In [456]:
df.EnvironmentSatisfaction.unique()

array([4., 3., 1., 2.])

In [457]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [458]:
Gender_dict = {'Male':0, 'Female':1}
df['Gender']=df['Gender'].map(Gender_dict)

In [459]:
df.Gender.unique()

array([0, 1])

In [460]:
df.HourlyRate.unique()

array([ 55.,  54.,  46.,  66.,  75.,  52.,  39.,  56.,  33.,  82.,  45.,
        70.,  97.,  77.,  40.,  49.,  58.,  73.,  43.,  98.,  95.,  41.,
       100.,  84.,  79.,  74.,  90.,  96.,  91.,  32.,  88.,  86.,  76.,
        35.,  94.,  83.,  65.,  42.,  31.,  51.,  36.,  80.,  69.,  99.,
        48.,  89.,  81.,  61.,  92.,  59.,  44.,  47.,  53.,  34.,  60.,
        78.,  30.,  68.,  37.,  87.,  50.,  63.,  72.,  38.,  71.,  64.,
        85.,  57.,  67.,  62.,  93.])

In [461]:
df.JobInvolvement.unique()

array([2., 3., 1., 4.])

In [462]:
df.JobLevel.unique()

array([2., 3., 1., 5., 4.])

In [463]:
df.JobRole.unique()

array(['Laboratory Technician', 'Manufacturing Director',
       'Research Scientist', 'Human Resources', 'Research Director',
       'Sales Representative', 'Manager', 'Healthcare Representative',
       'Sales Executive'], dtype=object)

In [464]:
df = df.join(pd.get_dummies(df["JobRole"], drop_first=True)).drop("JobRole", axis=1)

In [465]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Attrition', 'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales', 'Life Sciences', 'Marketing',
       'Medical', 'Other', 'Technical Degree', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative'],
      dtype='object')

In [466]:
df.JobSatisfaction.unique()

array([4., 3., 2., 1.])

In [467]:
df.MaritalStatus.unique()

array(['Married', 'Single', 'Divorced'], dtype=object)

In [468]:
df = df.join(pd.get_dummies(df["MaritalStatus"], drop_first=True)).drop("MaritalStatus", axis=1)

In [469]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales', 'Life Sciences', 'Marketing',
       'Medical', 'Other', 'Technical Degree', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative', 'Married', 'Single'],
      dtype='object')

In [470]:
df.MonthlyIncome.unique()

array([ 5126.,  7756.,  2368., ..., 13570., 13348.,  3708.])

In [471]:
df.MonthlyRate.unique()

array([15998., 14199., 23300., ...,  5640., 14842.,  2104.])

In [472]:
df.NumCompaniesWorked.unique()

array([1., 3., 0., 5., 9., 4., 2., 6., 7., 8.])

In [473]:
df.Over18.unique()

array(['Y'], dtype=object)

In [474]:
df = df.drop("Over18", axis=1)

In [475]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales', 'Life Sciences', 'Marketing',
       'Medical', 'Other', 'Technical Degree', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative', 'Married', 'Single'],
      dtype='object')

In [476]:
df.OverTime.unique()

array(['Yes', 'No'], dtype=object)

In [477]:
df["OverTime"] = [1 if x == "Yes" else 0 for x in df["OverTime"]]

In [478]:
df.OverTime.unique()

array([1, 0])

In [479]:
df.PercentSalaryHike.unique()

array([12., 19., 21., 15., 11., 16., 14., 13., 18., 23., 22., 17., 20.,
       25., 24.])

In [480]:
df.PerformanceRating.unique()

array([3., 4.])

In [481]:
df.RelationshipSatisfaction.unique()

array([3., 4., 2., 1.])

In [482]:
df.StandardHours.unique()

array([80.])

In [483]:
df=df.drop(['StandardHours'],axis=1)

In [484]:
df.StockOptionLevel.unique()

array([2., 1., 0., 3.])

In [485]:
df.TotalWorkingYears.unique()

array([1.000e+01, 5.000e+00, 1.000e+00, 2.000e+00, 3.000e+00, 2.100e+01,
       1.100e+01, 1.900e+01, 0.000e+00, 6.000e+00, 2.600e+01, 9.000e+00,
       1.400e+01, 1.700e+01, 2.500e+01, 1.200e+01, 1.300e+01, 7.000e+00,
       8.000e+00, 1.800e+01, 2.800e+01, 1.500e+01, 2.000e+01, 2.300e+01,
       2.400e+01, 1.600e+01, 3.700e+01, 2.200e+01, 4.000e+00, 3.000e+01,
       3.200e+01, 3.100e+01, 2.700e+01, 2.900e+01, 3.500e+01, 3.800e+01,
       3.400e+01, 4.000e+01, 3.600e+01, 3.300e+01, 6.618e+03, 3.808e+03,
       2.764e+03, 4.370e+03, 1.086e+03, 5.377e+03, 8.821e+03, 9.536e+03,
       1.822e+03, 4.740e+03, 3.625e+03, 8.183e+03, 8.890e+03, 9.670e+03,
       9.815e+03, 4.506e+03, 1.442e+03, 4.031e+03, 4.196e+03, 2.450e+03,
       6.907e+03, 8.095e+03, 4.409e+03, 5.482e+03, 9.714e+03, 8.746e+03,
       7.825e+03, 6.463e+03, 1.123e+03, 2.194e+03, 4.607e+03, 7.635e+03,
       9.501e+03, 8.270e+03, 5.787e+03, 4.958e+03, 3.077e+03, 8.575e+03,
       2.270e+03, 4.176e+03, 1.143e+03, 5.257e+03, 6.100e+03, 8.929e+03,
       7.173e+03, 9.311e+03, 5.407e+03, 3.201e+03, 2.230e+03, 7.349e+03,
       2.651e+03, 6.666e+03, 2.976e+03, 4.969e+03, 1.953e+03, 6.345e+03,
       8.311e+03, 6.990e+03, 6.502e+03, 8.583e+03, 4.640e+03, 4.132e+03,
       9.939e+03, 5.789e+03, 2.027e+03, 7.864e+03, 4.795e+03, 8.062e+03,
       6.456e+03, 9.905e+03, 9.781e+03, 6.563e+03, 9.198e+03, 3.778e+03,
       5.772e+03, 9.626e+03, 3.360e+03, 3.089e+03, 5.629e+03, 5.742e+03,
       2.730e+03, 5.463e+03, 1.337e+03, 9.495e+03, 2.091e+03, 8.052e+03,
       5.670e+03, 6.606e+03, 5.002e+03, 8.888e+03, 9.327e+03, 8.323e+03,
       8.622e+03, 1.735e+03, 6.314e+03, 6.566e+03, 8.957e+03, 8.334e+03,
       7.843e+03, 5.676e+03, 2.041e+03, 5.505e+03, 3.311e+03, 8.665e+03,
       2.820e+03, 2.352e+03, 9.794e+03, 4.264e+03, 7.053e+03, 5.644e+03,
       6.652e+03, 6.167e+03, 4.694e+03, 2.300e+03, 1.016e+03, 7.267e+03,
       7.515e+03, 1.758e+03, 7.680e+03, 3.417e+03, 3.206e+03, 7.089e+03,
       7.762e+03, 5.649e+03, 9.606e+03, 2.439e+03, 2.604e+03, 9.432e+03,
       7.223e+03, 8.104e+03, 3.879e+03, 1.220e+03])

In [486]:
df=df[df['TotalWorkingYears']<= 100]

In [487]:
df.TotalWorkingYears.unique()

array([10.,  5.,  1.,  2.,  3., 21., 11., 19.,  0.,  6., 26.,  9., 14.,
       17., 25., 12., 13.,  7.,  8., 18., 28., 15., 20., 23., 24., 16.,
       37., 22.,  4., 30., 32., 31., 27., 29., 35., 38., 34., 40., 36.,
       33.])

In [488]:
df.TrainingTimesLastYear.unique()

array([1., 6., 3., 0., 4., 2., 5.])

In [489]:
df.WorkLifeBalance.unique()

array([2., 4., 3., 1.])

In [490]:
df.YearsAtCompany.unique()

array([1.000e+01, 5.000e+00, 1.000e+00, 2.000e+00, 7.000e+00, 9.000e+00,
       2.000e+01, 0.000e+00, 3.000e+00, 1.400e+01, 8.000e+00, 2.400e+01,
       6.000e+00, 4.000e+00, 1.100e+01, 1.500e+01, 1.300e+01, 2.100e+01,
       3.600e+01, 2.600e+01, 1.900e+01, 1.600e+01, 2.200e+01, 1.800e+01,
       2.500e+01, 1.700e+01, 1.200e+01, 3.700e+01, 3.300e+01, 4.000e+01,
       3.400e+01, 2.300e+01, 2.900e+01, 3.100e+01, 3.200e+01, 2.700e+01,
       3.000e+01, 5.078e+03, 7.345e+03, 3.079e+03, 2.332e+03, 1.761e+03,
       1.378e+03, 8.870e+03, 4.879e+03, 9.445e+03, 2.265e+03, 5.801e+03,
       8.553e+03, 3.761e+03, 2.051e+03, 7.735e+03, 2.506e+03, 9.066e+03,
       3.335e+03, 1.621e+03, 8.120e+03, 3.743e+03, 9.681e+03, 6.797e+03,
       3.707e+03, 7.547e+03, 6.133e+03, 3.177e+03, 3.549e+03, 8.717e+03,
       1.036e+03, 9.508e+03, 1.488e+03, 5.359e+03, 2.744e+03, 5.581e+03,
       9.676e+03, 1.286e+03, 5.904e+03, 1.872e+03, 4.763e+03, 7.324e+03,
       6.140e+03, 3.687e+03, 1.420e+03, 9.767e+03, 3.507e+03, 6.524e+03,
       5.096e+03, 6.225e+03, 7.747e+03, 5.066e+03, 9.984e+03, 5.132e+03,
       5.706e+03, 3.231e+03, 2.659e+03, 5.506e+03, 8.867e+03, 8.875e+03,
       3.912e+03, 1.625e+03, 9.577e+03, 3.584e+03, 9.352e+03, 5.150e+03,
       6.253e+03, 1.646e+03, 8.862e+03, 2.516e+03, 3.126e+03, 4.604e+03,
       5.276e+03, 6.040e+03, 3.074e+03, 7.335e+03, 4.706e+03, 3.645e+03,
       2.987e+03, 3.190e+03, 3.202e+03, 1.295e+03, 5.368e+03, 1.282e+03,
       2.925e+03, 2.203e+03, 2.785e+03, 1.375e+03, 3.734e+03, 1.564e+03,
       8.543e+03, 5.736e+03, 7.366e+03, 4.014e+03, 9.481e+03, 5.512e+03,
       1.239e+03, 2.072e+03, 3.132e+03, 8.179e+03, 5.209e+03, 8.298e+03,
       1.184e+03, 2.809e+03, 2.551e+03, 3.655e+03, 9.196e+03, 6.834e+03,
       7.337e+03, 6.705e+03, 2.041e+03, 1.977e+03, 6.103e+03, 3.812e+03,
       4.783e+03, 9.505e+03, 5.765e+03, 5.888e+03, 7.338e+03, 8.976e+03,
       7.217e+03, 3.649e+03, 4.369e+03, 4.198e+03, 8.039e+03, 1.344e+03,
       8.890e+03, 8.110e+03, 6.144e+03, 3.927e+03])

In [491]:
df=df[df['YearsAtCompany']<= 100]

In [492]:
df.YearsAtCompany.unique()

array([10.,  5.,  1.,  2.,  7.,  9., 20.,  0.,  3., 14.,  8., 24.,  6.,
        4., 11., 15., 13., 21., 36., 26., 19., 16., 22., 18., 25., 17.,
       12., 37., 33., 40., 34., 23., 29., 31., 32., 27., 30.])

In [493]:
df.YearsInCurrentRole.unique()

array([8.000e+00, 4.000e+00, 3.000e+00, 0.000e+00, 2.000e+00, 7.000e+00,
       6.000e+00, 9.000e+00, 5.000e+00, 1.300e+01, 1.100e+01, 1.000e+00,
       1.000e+01, 1.700e+01, 1.200e+01, 1.500e+01, 1.400e+01, 1.600e+01,
       1.800e+01, 3.099e+03, 3.591e+03, 6.908e+03, 1.099e+03, 3.814e+03,
       6.651e+03, 4.218e+03, 1.179e+03, 4.230e+03, 9.454e+03, 5.438e+03,
       2.975e+03, 4.252e+03, 2.939e+03, 9.459e+03, 9.420e+03, 4.139e+03,
       8.200e+03, 2.100e+03, 4.858e+03, 6.364e+03, 8.251e+03, 4.925e+03,
       3.723e+03, 4.194e+03, 4.323e+03, 4.558e+03, 1.858e+03, 7.125e+03,
       4.435e+03, 8.935e+03, 4.986e+03, 9.107e+03, 7.137e+03, 4.656e+03,
       2.515e+03, 7.635e+03, 4.461e+03, 7.908e+03, 5.735e+03, 8.835e+03,
       1.797e+03, 4.137e+03, 9.193e+03, 6.691e+03, 9.596e+03, 7.077e+03,
       1.191e+03, 4.174e+03, 4.713e+03, 3.606e+03, 5.335e+03, 9.822e+03,
       7.420e+03, 2.816e+03, 7.866e+03, 3.509e+03, 2.360e+03, 2.514e+03,
       4.376e+03, 7.320e+03, 3.443e+03, 3.453e+03, 3.978e+03, 8.619e+03,
       6.081e+03, 6.378e+03, 1.190e+03, 7.925e+03, 5.834e+03, 6.862e+03,
       6.131e+03, 3.235e+03, 6.430e+03, 2.470e+03, 8.497e+03, 9.038e+03,
       4.362e+03, 1.810e+03, 3.364e+03, 7.606e+03, 3.683e+03, 6.188e+03,
       5.203e+03, 6.421e+03, 9.395e+03, 2.647e+03, 2.825e+03, 9.551e+03,
       7.664e+03, 6.169e+03, 7.105e+03, 3.802e+03, 5.274e+03, 4.551e+03,
       9.120e+03, 3.033e+03, 3.015e+03, 1.615e+03, 6.784e+03, 1.009e+03,
       8.222e+03, 8.058e+03, 1.584e+03, 1.924e+03, 9.217e+03, 7.484e+03,
       3.121e+03, 2.582e+03, 6.387e+03, 4.212e+03, 8.090e+03, 6.246e+03,
       8.807e+03, 6.180e+03, 9.937e+03, 2.848e+03, 1.335e+03, 8.102e+03,
       5.841e+03, 2.979e+03, 1.838e+03, 6.415e+03, 6.048e+03, 1.602e+03,
       6.001e+03, 2.931e+03, 1.732e+03, 5.181e+03, 9.053e+03, 4.623e+03,
       2.868e+03, 7.822e+03, 2.596e+03, 3.726e+03, 7.395e+03, 7.392e+03,
       1.404e+03, 2.822e+03, 2.112e+03, 5.637e+03, 1.995e+03, 8.020e+03,
       6.755e+03, 3.797e+03])

In [494]:
df=df[df['YearsInCurrentRole']<= 100]

In [495]:
df.YearsInCurrentRole.unique()

array([ 8.,  4.,  3.,  0.,  2.,  7.,  6.,  9.,  5., 13., 11.,  1., 10.,
       17., 12., 15., 14., 16., 18.])

In [496]:
df.YearsSinceLastPromotion.unique()

array([3.000e+00, 0.000e+00, 4.000e+00, 2.000e+00, 7.000e+00, 1.000e+00,
       9.000e+00, 8.000e+00, 5.000e+00, 1.100e+01, 6.000e+00, 1.500e+01,
       1.200e+01, 1.300e+01, 1.400e+01, 1.000e+01, 8.080e+03, 3.720e+03,
       7.291e+03, 6.920e+03, 8.467e+03, 9.420e+03, 3.246e+03, 8.913e+03,
       9.952e+03, 8.550e+03, 7.997e+03, 8.534e+03, 6.773e+03, 4.940e+03,
       1.973e+03, 6.763e+03, 8.021e+03, 5.738e+03, 5.291e+03, 1.094e+03,
       3.771e+03, 4.958e+03, 8.890e+03, 8.538e+03, 3.982e+03, 2.153e+03,
       6.279e+03, 7.240e+03, 4.204e+03, 5.392e+03, 3.486e+03, 3.742e+03,
       6.401e+03, 2.166e+03, 8.312e+03, 5.994e+03, 5.894e+03, 2.293e+03,
       6.747e+03, 7.989e+03, 4.200e+03, 2.754e+03, 8.922e+03, 4.370e+03,
       9.389e+03, 4.704e+03, 1.201e+03, 3.777e+03, 1.815e+03, 4.382e+03,
       2.576e+03, 2.475e+03, 6.551e+03, 9.509e+03, 5.284e+03, 5.292e+03,
       9.990e+03, 6.003e+03, 4.575e+03, 5.649e+03, 2.081e+03, 7.609e+03,
       9.572e+03, 5.308e+03, 5.383e+03, 1.058e+03, 5.165e+03, 7.897e+03,
       3.832e+03, 9.595e+03, 4.763e+03, 4.071e+03, 2.723e+03, 7.868e+03,
       4.619e+03, 5.391e+03, 4.885e+03, 3.884e+03, 5.431e+03, 3.089e+03,
       8.515e+03, 5.266e+03, 6.440e+03, 6.350e+03, 6.968e+03, 1.639e+03,
       7.859e+03, 7.427e+03, 2.922e+03, 2.282e+03, 8.966e+03, 9.175e+03,
       4.409e+03, 5.346e+03, 8.213e+03, 2.025e+03, 2.789e+03, 5.151e+03,
       8.053e+03, 6.233e+03, 8.113e+03, 3.057e+03, 4.094e+03, 8.650e+03,
       6.305e+03, 4.434e+03, 9.624e+03, 7.137e+03, 8.853e+03, 4.547e+03,
       6.767e+03, 7.056e+03, 6.847e+03, 2.743e+03, 5.881e+03, 7.659e+03,
       4.468e+03, 8.366e+03, 6.196e+03, 9.373e+03, 7.521e+03, 8.652e+03,
       5.957e+03, 6.881e+03, 9.041e+03, 7.322e+03, 2.079e+03, 4.098e+03,
       8.932e+03, 9.885e+03, 8.810e+03, 3.082e+03, 7.816e+03, 2.745e+03,
       4.586e+03, 7.403e+03, 2.778e+03])

In [497]:
df=df[df['YearsSinceLastPromotion']<= 100]

In [498]:
df.YearsSinceLastPromotion.unique()

array([ 3.,  0.,  4.,  2.,  7.,  1.,  9.,  8.,  5., 11.,  6., 15., 12.,
       13., 14., 10.])

In [499]:
df.YearsWithCurrManager.unique()

array([0.000e+00, 2.000e+00, 3.000e+00, 7.000e+00, 8.000e+00, 9.000e+00,
       6.000e+00, 1.100e+01, 4.000e+00, 1.200e+01, 5.000e+00, 1.000e+01,
       1.700e+01, 1.000e+00, 1.300e+01, 1.400e+01, 1.600e+01, 1.500e+01,
       1.798e+03, 9.404e+03, 4.163e+03, 2.411e+03, 1.947e+03, 5.987e+03,
       9.201e+03, 5.346e+03, 2.106e+03, 8.731e+03, 1.759e+03, 2.736e+03,
       2.181e+03, 7.012e+03, 6.277e+03, 7.405e+03, 2.101e+03, 3.908e+03,
       1.781e+03, 2.883e+03, 4.389e+03, 7.032e+03, 2.811e+03, 5.256e+03,
       6.162e+03, 5.242e+03, 3.922e+03, 5.168e+03, 8.672e+03, 9.717e+03,
       6.129e+03, 5.048e+03, 3.434e+03, 2.879e+03, 9.333e+03, 2.892e+03,
       4.528e+03, 7.876e+03, 2.702e+03, 6.788e+03, 1.077e+03, 2.428e+03,
       5.233e+03, 8.457e+03, 9.709e+03, 3.546e+03, 9.321e+03, 5.326e+03,
       2.333e+03, 9.882e+03, 2.564e+03, 1.910e+03, 4.869e+03, 2.480e+03,
       8.393e+03, 4.404e+03, 6.426e+03, 8.841e+03, 7.091e+03, 4.220e+03,
       1.540e+03, 6.691e+03, 7.781e+03, 4.321e+03, 2.220e+03, 4.326e+03,
       4.212e+03, 6.700e+03, 9.147e+03, 8.932e+03, 9.382e+03, 2.962e+03,
       7.386e+03, 6.873e+03, 7.230e+03, 3.097e+03, 5.198e+03, 9.734e+03,
       6.480e+03, 1.982e+03, 8.712e+03, 4.811e+03, 9.772e+03, 4.210e+03,
       6.606e+03, 1.948e+03, 1.142e+03, 2.460e+03, 5.869e+03, 1.643e+03,
       1.067e+03, 3.385e+03, 5.941e+03, 3.193e+03, 5.707e+03, 1.691e+03,
       4.760e+03, 5.136e+03, 3.876e+03, 4.911e+03, 8.954e+03, 4.456e+03,
       7.971e+03, 8.170e+03, 1.914e+03, 7.729e+03, 5.905e+03, 7.420e+03,
       1.845e+03, 5.747e+03, 6.349e+03, 6.432e+03, 9.414e+03, 5.885e+03,
       1.913e+03, 2.728e+03, 3.217e+03, 7.779e+03, 1.898e+03, 9.207e+03,
       6.654e+03, 3.596e+03, 4.134e+03, 9.582e+03, 5.403e+03, 1.929e+03,
       7.553e+03, 5.867e+03, 6.746e+03, 9.133e+03, 9.202e+03, 7.518e+03,
       6.754e+03, 4.249e+03, 8.195e+03, 5.651e+03, 4.738e+03, 5.948e+03,
       6.683e+03])

In [500]:
df=df[df['YearsWithCurrManager']<= 100]

In [501]:
df.YearsWithCurrManager.unique()

array([ 0.,  2.,  3.,  7.,  8.,  9.,  6., 11.,  4., 12.,  5., 10., 17.,
        1., 13., 14., 16., 15.])

In [502]:
df.YearlyIncome.unique()

array([ 61512.,  93072.,  28416., ...,  79728., 238308.,  44496.])

In [503]:
df.YearlyIncome.describe()

count      2630.000000
mean      77384.733080
std       56485.757872
min       12108.000000
25%       34404.000000
50%       58260.000000
75%      100347.000000
max      239988.000000
Name: YearlyIncome, dtype: float64

In [504]:
df.shape

(2630, 47)

In [505]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2630 entries, 0 to 4448
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            2630 non-null   int64
 1   Age                       2630 non-null   float64
 2   DailyRate                 2630 non-null   float64
 3   DistanceFromHome          2630 non-null   float64
 4   Education                 2630 non-null   float64
 5   EnvironmentSatisfaction   2630 non-null   float64
 6   Gender                    2630 non-null   int64
 7   HourlyRate                2630 non-null   float64
 8   JobInvolvement            2630 non-null   float64
 9   JobLevel                  2630 non-null   float64
 10  JobSatisfaction           2630 non-null   float64
 11  MonthlyIncome             2630 non-null   float64
 12  MonthlyRate               2630 non-null   float64
 13  NumCompaniesWorked        2630 non-null   float64
 14  OverTime                  2630 non-null   int64
 15  PercentSalaryHike         2630 non-null   float64
 16  PerformanceRating         2630 non-null   float64
 17  RelationshipSatisfaction  2630 non-null   float64
 18  StockOptionLevel          2630 non-null   float64
 19  TotalWorkingYears         2630 non-null   float64
 20  TrainingTimesLastYear     2630 non-null   float64
 21  WorkLifeBalance           2630 non-null   float64
 22  YearsAtCompany            2630 non-null   float64
 23  YearsInCurrentRole        2630 non-null   float64
 24  YearsSinceLastPromotion   2630 non-null   float64
 25  YearsWithCurrManager      2630 non-null   float64
 26  Attrition                 2630 non-null   int64
 27  YearlyIncome              2630 non-null   float64
 28  Travel_Frequently         2630 non-null   uint8
 29  Travel_Rarely             2630 non-null   uint8
 30  Research & Development    2630 non-null   uint8
 31  Sales                     2630 non-null   uint8
 32  Life Sciences             2630 non-null   uint8
 33  Marketing                 2630 non-null   uint8
 34  Medical                   2630 non-null   uint8
 35  Other                     2630 non-null   uint8
 36  Technical Degree          2630 non-null   uint8
 37  Human Resources           2630 non-null   uint8
 38  Laboratory Technician     2630 non-null   uint8
 39  Manager                   2630 non-null   uint8
 40  Manufacturing Director    2630 non-null   uint8
 41  Research Director         2630 non-null   uint8
 42  Research Scientist        2630 non-null   uint8
 43  Sales Executive           2630 non-null   uint8
 44  Sales Representative      2630 non-null   uint8
 45  Married                   2630 non-null   uint8
 46  Single                    2630 non-null   uint8
dtypes: float64(24), int64(4), uint8(19)
memory usage: 644.7 KB

In [506]:
df= df.set_index("EmployeeNumber")

In [507]:
df.shape

(2630, 46)

In [508]:
y = df.pop('Attrition')
X = df