In [2]:
import pandas as pd
import numpy as np

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import iplot

In [52]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
df1 = pd.read_csv('/content/df1.csv')
df1.head()

,EmployeeNumber,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked
0,104,30.0,Travel_Rarely,852.0,Research & Development,1.0,1.0,Life Sciences,1.0,4.0,Male,55.0,2.0,2.0,Laboratory Technician,4.0,Married,5126.0,15998.0,1.0
1,1638,38.0,Travel_Rarely,397.0,Research & Development,2.0,2.0,Medical,1.0,4.0,Female,54.0,2.0,3.0,Manufacturing Director,3.0,Married,7756.0,14199.0,3.0
2,164,26.0,Travel_Rarely,841.0,Research & Development,6.0,3.0,Other,1.0,3.0,Female,46.0,2.0,1.0,Research Scientist,2.0,Married,2368.0,23300.0,1.0
3,395,28.0,Travel_Rarely,1117.0,Research & Development,8.0,2.0,Life Sciences,1.0,4.0,Female,66.0,3.0,1.0,Research Scientist,4.0,Single,3310.0,4488.0,1.0
4,53,35.0,Travel_Rarely,464.0,Research & Development,4.0,2.0,Other,1.0,3.0,Male,75.0,3.0,1.0,Laboratory Technician,4.0,Divorced,1951.0,10910.0,1.0

In [5]:
df1.shape

(4449, 20)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeNumber           4449 non-null   int64
 1   Age                      4449 non-null   float64
 2   BusinessTravel           4449 non-null   object
 3   DailyRate                4449 non-null   float64
 4   Department               4449 non-null   object
 5   DistanceFromHome         4449 non-null   float64
 6   Education                4449 non-null   float64
 7   EducationField           4449 non-null   object
 8   EmployeeCount            4449 non-null   float64
 9   EnvironmentSatisfaction  4449 non-null   float64
 10  Gender                   4449 non-null   object
 11  HourlyRate               4449 non-null   float64
 12  JobInvolvement           4449 non-null   float64
 13  JobLevel                 4449 non-null   float64
 14  JobRole                  4449 non-null   object
 15  JobSatisfaction          4449 non-null   float64
 16  MaritalStatus            4449 non-null   object
 17  MonthlyIncome            4449 non-null   float64
 18  MonthlyRate              4449 non-null   float64
 19  NumCompaniesWorked       4449 non-null   float64
dtypes: float64(13), int64(1), object(6)
memory usage: 695.3+ KB

In [6]:
df2 = pd.read_csv('/content/df2.csv')
df2.head()

,EmployeeNumber,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,YearlyIncome
0,104,Y,Yes,12.0,3.0,3.0,80.0,2.0,10.0,1.0,2.0,10.0,8.0,3.0,0.0,No,61512.0
1,1638,Y,Yes,19.0,3.0,4.0,80.0,1.0,10.0,6.0,4.0,5.0,4.0,0.0,2.0,No,93072.0
2,164,Y,No,19.0,3.0,3.0,80.0,0.0,5.0,3.0,2.0,5.0,4.0,4.0,3.0,No,28416.0
3,395,Y,No,21.0,4.0,4.0,80.0,0.0,5.0,3.0,3.0,5.0,3.0,0.0,2.0,No,39720.0
4,53,Y,No,12.0,3.0,3.0,80.0,1.0,1.0,3.0,3.0,1.0,0.0,0.0,0.0,No,23412.0

In [7]:
df2.shape

(4449, 17)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4449 entries, 0 to 4448
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            4449 non-null   int64
 1   Over18                    4449 non-null   object
 2   OverTime                  4449 non-null   object
 3   PercentSalaryHike         4449 non-null   float64
 4   PerformanceRating         4449 non-null   float64
 5   RelationshipSatisfaction  4449 non-null   float64
 6   StandardHours             4449 non-null   float64
 7   StockOptionLevel          4449 non-null   float64
 8   TotalWorkingYears         4449 non-null   float64
 9   TrainingTimesLastYear     4449 non-null   float64
 10  WorkLifeBalance           4449 non-null   float64
 11  YearsAtCompany            4449 non-null   float64
 12  YearsInCurrentRole        4449 non-null   float64
 13  YearsSinceLastPromotion   4449 non-null   float64
 14  YearsWithCurrManager      4449 non-null   float64
 15  Attrition                 4302 non-null   object
 16  YearlyIncome              4449 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 591.0+ KB

In [99]:
df = pd.merge(df1, df2, on='EmployeeNumber')

In [100]:
df.shape

(4449, 36)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4449 entries, 0 to 4448
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeNumber            4449 non-null   int64
 1   Age                       4449 non-null   float64
 2   BusinessTravel            4449 non-null   object
 3   DailyRate                 4449 non-null   float64
 4   Department                4449 non-null   object
 5   DistanceFromHome          4449 non-null   float64
 6   Education                 4449 non-null   float64
 7   EducationField            4449 non-null   object
 8   EmployeeCount             4449 non-null   float64
 9   EnvironmentSatisfaction   4449 non-null   float64
 10  Gender                    4449 non-null   object
 11  HourlyRate                4449 non-null   float64
 12  JobInvolvement            4449 non-null   float64
 13  JobLevel                  4449 non-null   float64
 14  JobRole                   4449 non-null   object
 15  JobSatisfaction           4449 non-null   float64
 16  MaritalStatus             4449 non-null   object
 17  MonthlyIncome             4449 non-null   float64
 18  MonthlyRate               4449 non-null   float64
 19  NumCompaniesWorked        4449 non-null   float64
 20  Over18                    4449 non-null   object
 21  OverTime                  4449 non-null   object
 22  PercentSalaryHike         4449 non-null   float64
 23  PerformanceRating         4449 non-null   float64
 24  RelationshipSatisfaction  4449 non-null   float64
 25  StandardHours             4449 non-null   float64
 26  StockOptionLevel          4449 non-null   float64
 27  TotalWorkingYears         4449 non-null   float64
 28  TrainingTimesLastYear     4449 non-null   float64
 29  WorkLifeBalance           4449 non-null   float64
 30  YearsAtCompany            4449 non-null   float64
 31  YearsInCurrentRole        4449 non-null   float64
 32  YearsSinceLastPromotion   4449 non-null   float64
 33  YearsWithCurrManager      4449 non-null   float64
 34  Attrition                 4302 non-null   object
 35  YearlyIncome              4449 non-null   float64
dtypes: float64(26), int64(1), object(9)
memory usage: 1.3+ MB

In [102]:
df.head()

,EmployeeNumber,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,YearlyIncome
0,104,30.0,Travel_Rarely,852.0,Research & Development,1.0,1.0,Life Sciences,1.0,4.0,...,2.0,10.0,1.0,2.0,10.0,8.0,3.0,0.0,No,61512.0
1,1638,38.0,Travel_Rarely,397.0,Research & Development,2.0,2.0,Medical,1.0,4.0,...,1.0,10.0,6.0,4.0,5.0,4.0,0.0,2.0,No,93072.0
2,164,26.0,Travel_Rarely,841.0,Research & Development,6.0,3.0,Other,1.0,3.0,...,0.0,5.0,3.0,2.0,5.0,4.0,4.0,3.0,No,28416.0
3,395,28.0,Travel_Rarely,1117.0,Research & Development,8.0,2.0,Life Sciences,1.0,4.0,...,0.0,5.0,3.0,3.0,5.0,3.0,0.0,2.0,No,39720.0
4,53,35.0,Travel_Rarely,464.0,Research & Development,4.0,2.0,Other,1.0,3.0,...,1.0,1.0,3.0,3.0,1.0,0.0,0.0,0.0,No,23412.0

In [103]:
df.Attrition.unique()

array(['No', 'Yes', nan], dtype=object)

In [104]:
df = df.dropna(subset=['Attrition'])

In [105]:
df.Attrition.unique()

array(['No', 'Yes'], dtype=object)

In [106]:
df.shape

(4302, 36)

In [107]:
Attrition_dict = {'No':0, 'Yes':1}
df['Attrition']=df['Attrition'].map(Attrition_dict)

In [108]:
df.Attrition.unique()

array([0, 1])

In [109]:
df.Age.unique()

array([  30.,   38.,   26.,   28.,   35.,   34.,   32.,   42.,   40.,
         48.,   39.,   18.,   43.,   21.,   53.,   45.,   29.,   33.,
         41.,   24.,   37.,   50.,   36.,   52.,   47.,   31.,   49.,
         54.,   44.,   22.,   46.,   27.,   55.,   59.,   25.,   23.,
         56.,   20.,   60.,   51.,   58.,   19.,   57., 8825., 3628.,
       6287., 9330., 1107., 4454., 9155., 9890., 1189., 9195., 9014.,
       1136., 5582., 2404., 1541., 4510., 4322., 4988., 8388., 2530.,
       8901., 2852., 2459., 2982., 4973., 8534., 8314., 4130., 4328.,
       7952., 8699., 3147., 8889., 3871., 9531., 8167., 5257., 8136.,
       7390., 2993., 5672., 5933., 5614., 5007., 3095., 9219., 6749.,
       4515., 6715., 1141., 8949., 3636., 4805., 5959., 9384., 8042.,
       1423., 7056., 5116., 2667., 8703., 1126., 9612., 7845., 6998.,
       1788., 6727., 5377., 5565., 4558., 6506., 4591., 7662., 6510.,
       4985., 9581., 2095., 2275., 6399., 4935., 2698., 7617., 9661.,
       4834., 2242., 1915., 3226., 7924., 9529., 8326., 1578., 8560.,
       9078., 6429., 9243., 2186., 2888., 6210., 3388., 2423., 6025.,
       1530., 7017., 4137., 5852., 4744., 7147., 7963., 2972., 5997.,
       3626., 8744., 2637., 4880., 4330., 2641., 2882., 5215., 7015.,
       8365., 6032., 5034., 2280., 4553., 3469., 8237., 8097., 3281.,
       6703., 2012., 9866., 1775., 5402., 9159., 3437., 8823.])

In [110]:
df = df[df['Age'] <= 100]

In [111]:
df.Age.unique()

array([30., 38., 26., 28., 35., 34., 32., 42., 40., 48., 39., 18., 43.,
       21., 53., 45., 29., 33., 41., 24., 37., 50., 36., 52., 47., 31.,
       49., 54., 44., 22., 46., 27., 55., 59., 25., 23., 56., 20., 60.,
       51., 58., 19., 57.])

In [112]:
df.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [113]:
df = df.join(pd.get_dummies(df["BusinessTravel"], drop_first=True)).drop("BusinessTravel", axis=1)

In [114]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18',
       'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'YearlyIncome',
       'Travel_Frequently', 'Travel_Rarely'],
      dtype='object')

In [115]:
df.DailyRate.unique()

array([ 852.,  397.,  841., 1117.,  464., 1107., 1018.,  269.,  296.,
        989.,  855., 1181.,  895.,  827.,  977.,  544.,  244.,  995.,
       1343., 1282.,  153.,  280.,  404., 1265.,  252., 1496.,  306.,
        128.,  529.,  553.,  572.,  482.,  471.,  509.,  130.,  506.,
        329.,  367., 1219.,  746., 1322.,  969., 1271., 1158.,  688.,
        319.,  371., 1336.,  107.,  448.,  359.,  625., 1017.,  835.,
       1050.,  523., 1064., 1128.,  928., 1319.,  932.,  809., 1376.,
        253.,  336.,  884., 1385.,  945.,  118., 1231.,  426.,  737.,
       1442.,  853.,  557.,  377.,  616., 1398., 1138.,  531.,  138.,
       1377., 1240., 1400., 1001., 1082., 1171.,  136.,  218.,  452.,
       1397., 1192.,  944.,  408., 1040., 1329., 1416., 1125., 1144.,
        442., 1157.,  438.,  147.,  140.,  240.,  202., 1297.,  486.,
       1146.,  150., 1404., 1206., 1172.,  771., 1167.,  441., 1141.,
        715.,  891.,  282., 1425., 1371.,  170.,  650., 1212.,  638.,
       1255., 1099., 1222.,  199.,  116., 1296., 1294.,  769.,  548.,
        738.,  933.,  167., 1174.,  304.,  477.,  607.,  991., 1277.,
        318., 1332.,  967.,  311., 1015.,  618.,  994., 1311.,  144.,
       1055.,  530.,  330.,  508.,  593., 1242.,  430.,  718., 1349.,
        663.,  696., 1303.,  970.,  573.,  678., 1221.,  924., 1456.,
       1130., 1223.,  301.,  848.,  370., 1232., 1225., 1234.,  228.,
        481.,  754., 1375.,  201.,  645., 1070.,  791.,  836., 1485.,
       1339., 1379.,  267.,  355.,  376.,  334.,  516.,  641.,  763.,
        185., 1356., 1153., 1480.,  316.,  705.,  427., 1094.,  264.,
        560., 1441.,  168.,  216.,  431.,  867.,  735., 1142.,  556.,
        192.,  119.,  247.,  248.,  129.,  630., 1252., 1300.,  604.,
        289., 1420., 1041., 1112.,  897.,  111., 1413., 1355.,  833.,
       1366.,  721.,  243.,  672., 1076.,  669., 1445.,  134., 1275.,
        501.,  383.,  983., 1251.,  655.,  673.,  555., 1193.,  691.,
       1091., 1448.,  369.,  310., 1402.,  662.,  781., 1380.,  703.,
        591.,  806.,  458.,  342., 1333.,  263.,  845., 1358.,  141.,
        883.,  542., 1370.,  428.,  566., 1313.,  279.,  217., 1431.,
        390.,  142.,  574., 1434., 1467., 1009.,  447., 1258.,  571.,
        163.,  906., 1421., 1354., 1302.,  406., 1199., 1382., 1259.,
       1474., 1126., 1137.,  589., 1045.,  105.,  626.,  829., 1272.,
        146.,  796.,  179.,  812., 1033.,  500., 1454., 1084.,  490.,
       1127.,  345.,  258., 1378.,  697.,  682., 1092.,  971.,  699.,
       1005., 1154.,  131.,  583.,  905.,  617., 1168., 1451.,  896.,
       1236.,  189.,  750.,  224.,  636.,  504., 1179.,  343., 1361.,
        534.,  869.,  285., 1162.,  195., 1443.,  322.,  878.,  621.,
       1075., 1217., 1204.,  188.,  979.,  821.,  174., 1280.,  480.,
       1449., 1182.,  437., 1429.,  676., 1274., 1079.,  277., 1089.,
        256., 1238.,  783.,  391.,  661.,  613., 1029.,  976.,  605.,
       1066.,  436., 1396.,  194.,  121.,  419.,  755.,  288.,  920.,
        959.,  352.,  921., 1103.,  251., 1344., 1283.,  657., 1038.,
        541.,  911.,  410.,  775.,  528.,  177.,  472., 1312.,  117.,
        563.,  957.,  271.,  546.,  241.,  675.,  360., 1427.,  694.,
       1309.,  172., 1411.,  964.,  470.,  722.,  628.,  155., 1054.,
        182., 1463., 1440.,  871.,  337.,  692.,  465.,  693.,  654.,
        443., 1353., 1405., 1131., 1459.,  309.,  422., 1134., 1085.,
        587., 1342.,  413., 1218., 1452.,  109.,  575.,  440.,  507.,
        164.,  433.,  469.,  592.,  601.,  415.,  294.,  986.,  611.,
        894.,  581., 1357.,  832.,  299., 1276., 1462., 1120.,  788.,
       1479.,  552.,  684., 1200.,  219., 1202.,  807., 1122., 1469.,
       1188., 1351.,  950., 1093.,  286.,  535.,  254.,  786.,  956.,
        790.,  804.,  559.,  713.,  205., 1490., 1243., 1210.,  882.,
        723., 1105.,  879., 1136.,  954.,  200.,  466.,  350., 1053.,
        489., 1291.,  594.,  685.,  840., 1389., 1305.,  913.,  373.,
        585.,  862.,  652., 1034., 1320.,  203., 1063.,  106., 1334.,
        265.,  635., 1097.,  603., 1115., 1194.,  702.,  154., 1475.,
        210.,  708.,  711., 1306.,  792., 1180.,  379.,  505.,  982.,
        949.,  931., 1207., 1216.,  644.,  938.,  741.,  303.,  887.,
        392., 1492., 1470., 1327., 1062.,  332.,  922., 1246.,  325.,
       1323.,  748., 1109.,  580.,  135., 1245.,  666.,  538., 1184.,
        429.,  157.,  462.,  602.,  885.,  300., 1465.,  532.,  562.,
        946.,  990.,  805., 1090.,  599.,  903.,  648.,  929., 1450.,
        432.,  797.,  364.,  143.,  880.,  362.,  287.,  817.,  849.,
        634.,  890.,  161., 1253., 1368., 1178.,  770.,  302., 1318.,
       1023.,  152.,  160.,  665.,  930.,  868.,  268.,  943., 1150.,
        966., 1069.,  598.,  180.,  266.,  992.,  793., 1108., 1387.,
       1211.,  104.,  204., 1189.,  499.,  326.,  181.,  156., 1198.,
        384.,  238.,  561.,  115.,  671., 1266.,  658., 1124., 1035.,
        942.,  394., 1330.,  819.,  492.,  461.,  374.,  881.,  667.,
        813.,  683.,  670.,  527.,  726.,  799.,  498.,  543.,  727.,
       1230.,  307.,  866.,  230., 1031., 1239.,  801., 1365.,  176.,
        125., 1214., 1288.,  457.,  996., 1495., 1476.,  478.,  999.,
        196.,  608.,  902.,  558.,  444., 1229.,  145.,  586., 1372.,
        600.,  916.,  917.,  736.,  640., 1488., 1176.,  395., 1337.,
       1256., 1321., 1059., 1384.,  981.,  102., 1383.,  759.,  660.,
        317., 1213.,  740., 1116.,  728., 1145., 1403., 1473., 1362.,
       1278.,  549.,  756.,  439.,  536., 1315.,  720.,  629.,  889.,
        588.,  974.,  622.,  830.,  734., 1151.,  211., 1195., 1482.,
        810., 1030., 1395., 1457.,  313., 1010.,  328.,  706., 1086.,
       1262.,  511.,  526., 1422., 1254.,  646.,  664., 1360.,  207.,
        632.,  984.,  261.,  193., 1268., 1098., 1261.,  818.,  401.,
        333., 1249.,  857., 1224.,  955.,  446., 1436., 1316.,  590.,
       1418.,  567.,  802.,  249., 1410.,  290.,  704.,  305.,  525.,
       1423.,  854.,  926.,  823., 1326., 1012., 1273.,  798., 1037.,
       1065.,  479., 1186.,  988.,  953.,  234.,  468., 1046.,  653.,
        341., 1247., 1269.,  824.,  619., 1287.,  782.,  937.,  120.,
        232., 1123., 1308.,  132.,  859.,  968., 1003.,  483.,  495.,
       1102.,  524., 1346.,  346., 1169., 1439., 1328.,  467., 1401.,
        103.,  335., 1325.,  206.,  918.,  772., 1435.,  231.,  570.,
       1052.,  496.,  314.,  405., 1444.,  474.,  414., 1498.,  412.,
       1391.,  124., 1464., 1083.,  776., 1096.,  647., 1220.,  766.,
        939., 1373.,  237.,  381.,  488.,  459., 1394., 1392.,  642.,
        773.,  760., 1111.,  719., 1369.,  674.,  363., 1147., 1324.,
        717.,  828., 1132.,  898.,  515.,  935., 1499.,  874.,  888.,
       1002.,  584., 1381.,  148.,  689.,  975.,  213.,  725.,  208.,
        582.])

In [116]:
df.Department.unique()

array(['Research & Development', 'Human Resources', 'Sales'], dtype=object)

In [117]:
df = df.join(pd.get_dummies(df["Department"], drop_first=True)).drop("Department", axis=1)

In [118]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition',
       'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales'],
      dtype='object')

In [119]:
df.DistanceFromHome.unique()

array([1.00000e+00, 2.00000e+00, 6.00000e+00, 8.00000e+00, 4.00000e+00,
       9.00000e+00, 3.00000e+00, 5.00000e+00, 2.20000e+01, 2.60000e+01,
       1.00000e+01, 1.20000e+01, 7.00000e+00, 2.50000e+01, 2.90000e+01,
       1.80000e+01, 2.40000e+01, 2.80000e+01, 1.60000e+01, 1.90000e+01,
       1.30000e+01, 2.00000e+01, 1.10000e+01, 2.30000e+01, 2.10000e+01,
       1.50000e+01, 1.40000e+01, 1.70000e+01, 2.70000e+01, 3.02984e+05,
       6.29986e+05, 8.87003e+05, 9.18326e+05, 9.97422e+05, 8.52749e+05,
       6.79106e+05, 3.04698e+05, 7.72706e+05, 2.59089e+05, 9.92947e+05,
       2.53620e+05, 8.86117e+05, 8.60358e+05, 5.47308e+05, 1.93929e+05,
       9.63929e+05, 8.09361e+05, 1.40916e+05, 8.25100e+05, 4.18093e+05,
       7.16417e+05, 5.46730e+05, 2.42839e+05, 7.43173e+05, 1.50886e+05,
       9.46786e+05, 6.07220e+05, 5.60047e+05, 8.40183e+05, 5.88585e+05,
       4.79723e+05, 3.02239e+05, 9.99590e+05, 1.35607e+05, 3.27380e+05,
       5.16738e+05, 3.80120e+05, 2.89540e+05, 4.70836e+05, 6.36415e+05,
       1.47920e+05, 6.49517e+05, 6.88939e+05, 5.49089e+05, 9.33385e+05,
       4.47546e+05, 7.82402e+05, 8.25855e+05, 4.10963e+05, 1.43454e+05,
       6.67984e+05, 8.15600e+05, 3.32529e+05, 5.35366e+05, 6.92089e+05,
       3.67120e+05, 2.66645e+05, 2.49717e+05, 1.67566e+05, 1.38023e+05,
       5.53235e+05, 1.23628e+05, 1.02637e+05, 3.81469e+05, 2.64889e+05,
       3.76075e+05, 2.74206e+05, 6.47087e+05, 2.29109e+05, 7.65855e+05,
       9.75446e+05, 9.24937e+05, 9.34448e+05, 6.32834e+05, 4.21069e+05,
       4.58858e+05, 2.98194e+05, 9.93161e+05, 6.86501e+05, 5.35160e+05,
       1.61435e+05, 1.19377e+05, 2.79509e+05, 2.37547e+05, 5.89265e+05,
       2.70050e+05, 3.03600e+05, 8.95533e+05, 9.71787e+05, 2.15000e+05,
       5.85976e+05, 2.04179e+05, 6.78387e+05, 4.82211e+05, 7.55441e+05,
       7.10269e+05, 2.20024e+05, 5.06379e+05, 8.53938e+05, 9.32144e+05,
       9.68203e+05, 2.77125e+05, 5.36402e+05, 3.39434e+05, 1.02583e+05,
       1.87830e+05, 5.88809e+05, 4.49359e+05, 6.25879e+05, 3.91908e+05,
       6.33867e+05, 4.54423e+05, 7.40696e+05, 5.60263e+05, 7.33295e+05,
       3.08024e+05, 8.12485e+05, 7.07484e+05, 4.77232e+05, 7.92796e+05,
       4.11835e+05, 2.49810e+05, 3.23510e+05, 8.83970e+05, 3.22329e+05,
       4.90741e+05, 6.64579e+05, 9.18785e+05])

In [120]:
df.Education.unique()

array([1., 2., 3., 4., 5.])

In [121]:
df.EducationField.unique()

array(['Life Sciences', 'Medical', 'Other', 'Technical Degree',
       'Marketing', 'Human Resources'], dtype=object)

In [122]:
df = df.join(pd.get_dummies(df["EducationField"], drop_first=True)).drop("EducationField", axis=1)

In [123]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeCount', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'YearlyIncome',
       'Travel_Frequently', 'Travel_Rarely', 'Research & Development', 'Sales',
       'Life Sciences', 'Marketing', 'Medical', 'Other', 'Technical Degree'],
      dtype='object')

In [124]:
df.EmployeeCount.unique()

array([1.])

In [125]:
df = df.drop(['EmployeeCount'] ,axis=1)

In [126]:
df.EnvironmentSatisfaction.unique()

array([4., 3., 1., 2.])

In [127]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [128]:
Gender_dict = {'Male':0, 'Female':1}
df['Gender']=df['Gender'].map(Gender_dict)

In [129]:
df.Gender.unique()

array([0, 1])

In [130]:
df.HourlyRate.unique()

array([ 55.,  54.,  46.,  66.,  75.,  52.,  39.,  56.,  33.,  82.,  45.,
        70.,  97.,  77.,  40.,  49.,  58.,  73.,  43.,  98.,  95.,  41.,
       100.,  84.,  79.,  74.,  90.,  96.,  91.,  32.,  88.,  86.,  76.,
        35.,  94.,  83.,  65.,  42.,  31.,  51.,  36.,  80.,  69.,  99.,
        48.,  89.,  81.,  61.,  92.,  59.,  44.,  47.,  53.,  34.,  60.,
        78.,  30.,  68.,  37.,  87.,  50.,  63.,  72.,  38.,  71.,  64.,
        85.,  57.,  67.,  62.,  93.])

In [131]:
df.JobInvolvement.unique()

array([2., 3., 1., 4.])

In [132]:
df.JobLevel.unique()

array([2., 3., 1., 5., 4.])

In [133]:
df.JobRole.unique()

array(['Laboratory Technician', 'Manufacturing Director',
       'Research Scientist', 'Human Resources', 'Research Director',
       'Sales Representative', 'Manager', 'Healthcare Representative',
       'Sales Executive'], dtype=object)

In [140]:
df = df.join(pd.get_dummies(df["JobRole"], drop_first=True)).drop("JobRole", axis=1)

In [141]:
df.columns

Index(['EmployeeNumber', 'Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Attrition', 'YearlyIncome', 'Travel_Frequently', 'Travel_Rarely',
       'Research & Development', 'Sales', 'Life Sciences', 'Marketing',
       'Medical', 'Other', 'Technical Degree',
       'JobRole_Healthcare Representative', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'Human Resources',
       'Laboratory Technician', 'Manager', 'Manufacturing Director',
       'Research Director', 'Research Scientist', 'Sales Executive',
       'Sales Representative'],
      dtype='object')

In [142]:
df.JobSatisfaction.unique()

array([4., 3., 2., 1.])